@font-face {
    src: url("fonts/Trispace[wdth\,wght].woff2") format("woff2"),
        url("fonts/Trispace[wdth\,wght].ttf") format('truetype');

    font-family: 'Trispace';
    font-style: normal;
    font-weight: normal;
    }
    .hero{
        color: rgb(58, 45, 32);
        margin-top: 100px;
        margin-bottom: 100px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .history-paragraph{
        color: rgb(58, 45, 32);
    }
    .history-header{
        color: rgb(58, 45, 32);
    }
    /* *{
        border: 3px blue dashed;
    } */
    body{
    background-color: rgb(240, 226, 209);
    font-family: 'Trispace';
}
/* how the page wrapper will appear on mobile */
.page-wrapper{
    width: min(100% - 3rem, 80ch);
    margin-inline: auto;
    
}
.hero {
    font-size: 10px;
}
/* how the page wrapper appears on desktop */

@media only screen and (min-width:800px){
#history{

display: grid;
grid-gap: 1px;
grid-template-columns: repeat(13, 1fr);
grid-template-rows: auto auto auto;
grid-template-areas: 
    ". h h h h . . . w w w w w"
    ". p p p p p p . w w w w w"
    ". p p p p p p . . . . . .";
}

.hashtag-wrapper {
grid-area: w;
font-size: 300px;
color: rgb(58, 45, 32);
animation: weightChange 7s infinite;
}

.history-header {
font-size: 25px;
grid-area: h;
padding: 0px;
margin: 0px;
}

.history-paragraph{
    grid-area: p;
}

}
@media only screen and (min-width:800px){
    #character{
    
    padding-bottom: 50px;
    background-color: rgb(58, 45, 32);
    color: rgb(240, 226, 209);
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
        ". t t t t .  . . . . ."
        ". a a a . .  b b b b ."
        ". c c c . .  d d d d ."
        ". e e e . .  f f f f .";
    }
    .character-header {
        font-size: 25px;
        grid-area: t;
    }
    .alphabet-title {
        grid-area: a;
    }
    .alphabet-paragraph {
        grid-area: b;
    }
    .special-title {
        grid-area: c;
    }
    .special-paragraph {
        grid-area: d;
    }
    .numbers-title {
        grid-area: e;
    }
    .numbers-paragraph {
        grid-area: f;
    }

}
@media only screen and (min-width:800px){
    #axis-section{
    padding-top: 100px;
    padding-bottom: 50px;
    color: rgb(58, 45, 32);
    display: grid;
    animation: weightChange 6s infinite;
    grid-gap: 1px;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: 
        ". t t t t . . . ."
        ". l . . . . . r ."
        ". l a a a a a r ."
        ". l b b b b b r ."
        ". l . . . . . r ."
        ". . . o o o . . .";
    }
    .axis-header {
        grid-area: t;
        font-size: 25px;
        margin-top: 50px;
    }
    .left-bracket {
        grid-area: l;
        font-size: 150px;
    }
    .right-bracket {
        grid-area: r;
        font-size: 150px;
    }
    .axis-paragraph1 {
        grid-area: a;
        font-size: 20px;
    }
    .axis-paragraph2 {
        grid-area: b;
        font-size: 20px;
    }
    .outline {
        grid-area: o;
    }
}
/* CSS for the footer */
footer{
    background-color: rgb(58, 45, 32);
    color: rgb(240, 226, 209);
}
@media only screen and (min-width:800px){
    #feet{
    background-color: rgb(58, 45, 32);
    color: rgb(240, 226, 209);
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
        ". . . . t t t t . . ."
        ". a a a . . b b b b ."
        ". a a a . . b b b b ."
        ". c c c . . l l i i .";
    }
    .footer-paragraph1 {
        grid-area: a;   
    }
    .footer-paragraph2 {
        grid-area: b;
    }
    .linkedin {
        grid-area: l;
        color: rgb(240, 226, 209);
    }
    .footer-title {
        grid-area: t;
        font-size: 25px;
        margin-left: 55px;
    }
    .insta {
        grid-area: i;
        color: rgb(240, 226, 209);
    }
    .cvpa {
        grid-area: c;
    }
    .insta:hover {
        color: aquamarine;
    }
    .linkedin:hover {
        color: aquamarine;
    }

}

/* variable font animation */
h3{
    font-weight:20; 
    text-align: center;
    font-size: 5em;
    animation: weightChange 7s infinite;
}

@keyframes weightChange {
    0%, 100%{
        font-variation-settings: "wght" 100, "wdth" 800;
    }
    50%{font-variation-settings: "wght" 800, "wdth" 500;
    }
    
}
/* variable font that changes on hover */
.variable-font{
    font-weight:1 ;
    height:100vh;
    font-size: 10em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 40, "wdth" 0, "XXXX" 1;
    transition: 
        font-weight 500ms,
        font-variation-settings 3s;
}

.variable-font:hover{
    font-weight:500 ;
    height:100vh;
    font-size: 7em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 120, "wdth" 0, "XXXX" 100;
}
.outline {
    background-color: transparent;
    color: rgb(58, 45, 32);
    border: 2px solid rgb(58, 45, 32);
    transition: all 0.3s ease;
    text-align: center;
}

.outline:hover {
    background-color:rgb(58, 45, 32);
    color: #fff;
}
